<div class="col-md-4 mx-auto">
	<div class="card text-center" style="background-color: #e3f2fd;">
		<div class="card-header">
			<h3>Edit Author</h3>
		</div>
		<div class="card-body" style="background-color: #f0ffff">
			<form action="/authors/authors/edit/{{author._id}}?_method=PUT" method="POST">
				<input type="hidden" name="_method" value="PUT">
				<div class="form-group">
					<label>Name Author: </label>
					<input
						type="text"
						name="name"
						value="{{author.name}}"
						class="form-control"
						placeholder="Name"
						style="background-color: #e3f2fd;"
						autofocus
					>
				</div><br>
				<div class="form-group d-grid gap-2">
					<button class="btn btn-primary btn-block" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>