<section class="card">
	<div class="card-body" style="background-color: #e3f2fd;">
		<h1>About App</h1>
		<p>This app was created using MongoDB, express, express-session and others pugins, manage users, books, app backend and api rest, implement jwt for auth security.</p>
	</div>
</section>